* {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  text-align: center;
}

.wrapper {
  background-color: rgb(210, 232, 252);
}

form.example input[type="text"] {
  margin: 16px;
  padding: 0px;
  font-size: 17px;
  border: 1px solid grey;
  width: 15%;
  border-radius: 5px;
  background: #f1f1f1;
}

form.example button {
  justify-content: left;
  margin-left: 5px;
  width: 5%;
  padding: 0px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.container {
  top: 5px;
  margin: -20px;
  padding: -40px;
  height: 200px;
  width: 800px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

span {
  position: relative;
  bottom: -200px;
  margin: 20px;
  width: 10px;
  padding: 60px;
  right: 0%;
  border-radius: 5px;
}
